version: 7.4.2

type: DeclarativeSource

description: >-
  The WooCommerce connector enables you to sync data from WooCommerce stores
  into Airbyte. It supports extracting core e-commerce data such as orders,
  customers, products, coupons, and refunds using the WooCommerce REST API,
  allowing you to replicate and analyse your store data in your destination of
  choice.

check:
  type: CheckStream
  stream_names:
    - system_status_tools

definitions:
  linked:
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
    HttpRequester:
      url_base: https://{{ config['shop'] }}/wp-json/wc/v3
      authenticator:
        type: BasicHttpAuthenticator
        password: "{{ config[\"api_secret\"] }}"
        username: "{{ config[\"api_key\"] }}"
      request_parameters:
        order: asc
        orderby: id
        dates_are_gmt: "true"

streams:
  - type: DeclarativeStream
    name: customers
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        url_base: https://{{ config['shop'] }}/wp-json/wc/v3
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"api_secret\"] }}"
          username: "{{ config[\"api_key\"] }}"
        path: /customers
        http_method: GET
        request_parameters:
          order: asc
          orderby: id
          dates_are_gmt: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          date_created:
            type:
              - string
              - "null"
          date_created_gmt:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
          billing:
            type:
              - object
              - "null"
            properties:
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              company:
                type:
                  - string
                  - "null"
              address_1:
                type:
                  - string
                  - "null"
              address_2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              postcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
          shipping:
            type:
              - object
              - "null"
            properties:
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              company:
                type:
                  - string
                  - "null"
              address_1:
                type:
                  - string
                  - "null"
              address_2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              postcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
          is_paying_customer:
            type:
              - boolean
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          meta_data:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    targetHints:
                      type:
                        - object
                        - "null"
                      properties:
                        allow:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
        required:
          - id
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified_gmt
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S"
      is_client_side_incremental: true
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: coupons
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        url_base: https://{{ config['shop'] }}/wp-json/wc/v3
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"api_secret\"] }}"
          username: "{{ config[\"api_key\"] }}"
        path: /coupons
        http_method: GET
        request_parameters:
          order: asc
          orderby: id
          dates_are_gmt: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          code:
            type:
              - "null"
              - string
          _links:
            type:
              - "null"
              - object
            properties:
              self:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    href:
                      type:
                        - "null"
                        - string
              collection:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    href:
                      type:
                        - "null"
                        - string
          amount:
            type:
              - "null"
              - string
          used_by:
            type:
              - "null"
              - array
          shop_url:
            type:
              - "null"
              - string
          meta_data:
            type:
              - "null"
              - array
              - object
            oneOf:
              - type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - integer
                  key:
                    type:
                      - "null"
                      - string
                  value:
                    type:
                      - "null"
                      - object
                      - string
                      - array
              - type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
          product_ids:
            type:
              - "null"
              - array
          usage_count:
            type:
              - "null"
              - integer
          usage_limit:
            type:
              - "null"
              - integer
          date_created:
            type:
              - "null"
              - string
            format: date-time
          date_expires:
            type:
              - "null"
              - string
          date_modified:
            type:
              - "null"
              - string
            format: date-time
          discount_type:
            type:
              - "null"
              - string
          free_shipping:
            type:
              - "null"
              - boolean
          individual_use:
            type:
              - "null"
              - boolean
          maximum_amount:
            type:
              - "null"
              - string
          minimum_amount:
            type:
              - "null"
              - string
          date_created_gmt:
            type:
              - "null"
              - string
            format: date-time
          date_expires_gmt:
            type:
              - "null"
              - string
          date_modified_gmt:
            type:
              - "null"
              - string
            format: date-time
          email_restrictions:
            type:
              - "null"
              - array
          exclude_sale_items:
            type:
              - "null"
              - boolean
          product_categories:
            type:
              - "null"
              - array
          excluded_product_ids:
            type:
              - "null"
              - array
          usage_limit_per_user:
            type:
              - "null"
              - integer
          limit_usage_to_x_items:
            type:
              - "null"
              - integer
          excluded_product_categories:
            type:
              - "null"
              - array
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified_gmt
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      end_time_option:
        type: RequestOption
        field_name: modified_before
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: modified_after
        inject_into: request_parameter
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S"
  - type: DeclarativeStream
    name: orders
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        url_base: https://{{ config['shop'] }}/wp-json/wc/v3
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"api_secret\"] }}"
          username: "{{ config[\"api_key\"] }}"
        path: /orders
        http_method: GET
        request_parameters:
          order: asc
          orderby: id
          dates_are_gmt: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          version:
            type:
              - string
              - "null"
          id:
            type: number
          parent_id:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          prices_include_tax:
            type:
              - boolean
              - "null"
          date_created:
            type:
              - string
              - "null"
          date_modified:
            type:
              - string
              - "null"
          discount_total:
            type:
              - string
              - "null"
          discount_tax:
            type:
              - string
              - "null"
          shipping_total:
            type:
              - string
              - "null"
          shipping_tax:
            type:
              - string
              - "null"
          cart_tax:
            type:
              - string
              - "null"
          total:
            type:
              - string
              - "null"
          total_tax:
            type:
              - string
              - "null"
          customer_id:
            type:
              - number
              - "null"
          order_key:
            type:
              - string
              - "null"
          billing:
            type:
              - object
              - "null"
            properties:
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              company:
                type:
                  - string
                  - "null"
              address_1:
                type:
                  - string
                  - "null"
              address_2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              postcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
          shipping:
            type:
              - object
              - "null"
            properties:
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              company:
                type:
                  - string
                  - "null"
              address_1:
                type:
                  - string
                  - "null"
              address_2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              postcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
          payment_method:
            type:
              - string
              - "null"
          payment_method_title:
            type:
              - string
              - "null"
          transaction_id:
            type:
              - string
              - "null"
          customer_ip_address:
            type:
              - string
              - "null"
          customer_user_agent:
            type:
              - string
              - "null"
          created_via:
            type:
              - string
              - "null"
          customer_note:
            type:
              - string
              - "null"
          date_completed:
            type:
              - string
              - "null"
          date_paid:
            type:
              - string
              - "null"
          cart_hash:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          meta_data:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                key:
                  type:
                    - string
                    - "null"
                value:
                  anyOf:
                    - type: string
                    - type: object
                      properties:
                        "242493":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "366730":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "369080":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "370082":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "383376":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "434345":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "440489":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "440813":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "444417":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "444427":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "445067":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "445101":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "445296":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "446222":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "446772":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "446799":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447319":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447354":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447460":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447796":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447858":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "447958":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448020":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448038":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448099":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448125":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448470":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "448552":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449012":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449132":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449262":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449666":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449670":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "449968":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "450181":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "450929":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "450988":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "451088":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "451226":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "451885":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "451896":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "451925":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452020":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452110":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452344":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452347":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452363":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452403":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452500":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452527":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452543":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452550":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452553":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452557":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452620":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452626":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452636":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452650":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452654":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452723":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452750":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452764":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452768":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452775":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452797":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452874":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452937":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452940":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452943":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452966":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452992":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "452997":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453006":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453025":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453032":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453045":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453074":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453085":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453117":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453119":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453120":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453162":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453224":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453225":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453250":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453255":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453315":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453319":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453348":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453366":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453371":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453374":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453436":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453438":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453444":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453447":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453449":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453451":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453458":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453464":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453507":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453512":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453514":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453516":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453521":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453562":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453647":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453689":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453703":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453715":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453728":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453731":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453735":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453736":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453737":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453738":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453740":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453755":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453759":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453771":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453774":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453776":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453795":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453812":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453815":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453817":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453818":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453851":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453854":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453855":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453857":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453858":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453862":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453866":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453869":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453887":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453890":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453891":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453892":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453898":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453902":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453903":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453904":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453905":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453906":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453907":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453908":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453910":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453911":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453914":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453918":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453927":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453928":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453930":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "453995":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "454032":
                          anyOf:
                            - type: string
                            - type: object
                              properties:
                                SalesOrderTypeAbbreviation:
                                  type: string
                                SalesOrderNo:
                                  type: string
                                SalesOrderInventoryLocationID:
                                  type: number
                        "454036":
                          anyOf:
[...]
